# Ignore the lux.sqlite database file
lux.sqlite

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Ignore .env files in frontend and backend directories
.env

# General ignore for .DS_Store anywhere in the repo
.DS_Store

*.Dockerfile